body {
    background-color: lightgray;
}

.center {
    max-width: 600px;
    margin: 0 auto;
    background-color:  white;
}

figure{
    margin-left: 0%;
    padding: 10px;
}
img {
    max-width: 100%;
}

h1 {
    padding: 10px;
}

h2 {
    padding: 10px;
}

p{
    padding: 10px;
}